# Join data

In [1]:
import pandas as pd

In [2]:
material = 'plastics' # 'plastics', 'paper'
paths = [
    f'data/processed/de-fr-gb-it-eurostat/de-{material}-exports-monthly.csv',
    f'data/processed/de-fr-gb-it-eurostat/fr-{material}-exports-monthly.csv',
    f'data/processed/de-fr-gb-it-eurostat/it-{material}-exports-monthly.csv',
    f'data/processed/de-fr-gb-it-eurostat/gb-{material}-exports-monthly.csv',
    f'data/processed/us-uscb/us-{material}-exports-monthly.csv',
    f'data/processed/canada-statistics-canada/ca-{material}-exports-monthly.csv',
    f'data/processed/jp-estat/jp-{material}-exports-monthly.csv',
]

paths

['data/processed/de-fr-gb-it-eurostat/de-plastics-exports-monthly.csv',
 'data/processed/de-fr-gb-it-eurostat/fr-plastics-exports-monthly.csv',
 'data/processed/de-fr-gb-it-eurostat/it-plastics-exports-monthly.csv',
 'data/processed/de-fr-gb-it-eurostat/gb-plastics-exports-monthly.csv',
 'data/processed/us-uscb/us-plastics-exports-monthly.csv',
 'data/processed/canada-statistics-canada/ca-plastics-exports-monthly.csv',
 'data/processed/jp-estat/jp-plastics-exports-monthly.csv']

In [3]:
dfs = [
    pd.read_csv(
        path,
        parse_dates=['period'],
        keep_default_na=False # Necessary because the ISO 2 code for Namibia is ‘NA’
    ) for path in paths
]

row_count = 0

for df in dfs:
    row_count += len(df)
    
row_count

28927

In [4]:
for df in dfs:
    print(len(df))
    print(df.isnull().any())

6204
period          False
iso2            False
country_name    False
exporter        False
kg              False
dtype: bool
4818
period          False
iso2            False
country_name    False
exporter        False
kg              False
dtype: bool
6138
period          False
iso2            False
country_name    False
exporter        False
kg              False
dtype: bool
7194
period          False
iso2            False
country_name    False
exporter        False
kg              False
dtype: bool
3345
period          False
iso2            False
country_name    False
exporter        False
kg              False
dtype: bool
340
period          False
iso2            False
country_name    False
exporter        False
kg              False
dtype: bool
888
period          False
iso2            False
country_name    False
exporter        False
kg              False
dtype: bool

In [5]:
df = pd.concat(dfs) \
    .assign(kg = lambda x: pd.to_numeric(x['kg'])) \
    .reset_index(drop=True)

print(len(df))

df.head()

28927

      period iso2 country_name exporter  kg
0 2013-01-01   AF  AFGHANISTAN       DE NaN
1 2013-02-01   AF  AFGHANISTAN       DE NaN
2 2013-03-01   AF  AFGHANISTAN       DE NaN
3 2013-04-01   AF  AFGHANISTAN       DE NaN
4 2013-05-01   AF  AFGHANISTAN       DE NaN

In [6]:
df.dtypes

period          datetime64[ns]
iso2                    object
country_name            object
exporter                object
kg                     float64
dtype: object

In [7]:
df.isnull().any()

period          False
iso2            False
country_name    False
exporter        False
kg               True
dtype: bool

In [8]:
# df.to_csv(f'data/processed/g7-{material}-exports.csv', index=False)